# Ignore everything by default
*

# Allow version control files
!.gitignore
!.gitattributes

# Allow Go-related files
!**/*.go
!go.mod
!go.sum

# Allow custom files
!Dockerfile
!docker-compose.yml
!compose-dev.yaml
!application.yml
!setup-go.sh
!token

# Allow config and other directories
!config/
!cmd/
!handlers/
!queue/
!SQL/
